[submodule "error_grids"]
	path = submodules/error_grids
	url = https://github.com/kriventsov/Clarke-and-Parkes-Error-Grids.git
[submodule "submodules/tidepool_api"]
	path = submodules/tidepool_api
	url = https://github.com/miriamkw/data-science-tidepool-api-python.git
[submodule "submodules/nightscout_api"]
	path = submodules/nightscout_api
	url = https://github.com/ps2/python-nightscout.git
