matplotlib
reportlab
svglib
seaborn
pandas
scikit-learn
tidepool-data-science-project
numpy
psutil
aiohttp
click
dill
python-nightscout
error-grids
# Optional heavy dependencies
# tensorflow
# keras-tcn
# torch
# opsb-pyloopkit==0.1.0 # This is the original pyloopkit with linear meal model
# py_replay_bg
# Testing dependencies
# pytest
# pytest-ordering

