# opsb-pyloopkit==0.1.0 # This is the original pyloopkit
matplotlib
pandas
scikit-learn
xgboost
tensorflow
keras-tcn
numpy
aiohttp
click
dill
tidepool-data-science-project
python-nightscout
error-grids
