opsb-pyloopkit==0.1.0 # This is the original pyloopkit with linear meal model
matplotlib
pandas
scikit-learn
xgboost
Tensorflow[reproducibility]
keras-tcn
numpy
aiohttp
click
dill
tidepool-data-science-project
python-nightscout
error-grids
torch
py_replay_bg
pytest
